<div id="<%= dom_id note %>">
<p>
<strong>title:</strong>
<%= note.title %>
</p>

<p>
<strong>subject:</strong>
<%= note.subject %>
</p>

<p>
<strong>year:</strong>
<%= note.year %>
</p>

<p>
<strong>branch:</strong>
<%= note.branch %>
</p>


</div>
